# Exclude .idea directorys
**/.idea/

# Exclude __pycache__ directories

**/__pycache___/


# Exclude .pyc files

*.pyc

# Exclude .vscode directories

**/.vscode/

# Exclude media directory:

**/media/

# Exclude virtual environments

**/venv
/venv/

# Exclude random log files

log.txt
